# Dependencias
node_modules/
.pnp
.pnp.js

# Next.js compilación
.next/
out/

# PWA Service Workers (generated)
**/public/sw.js
**/public/swe-worker-*.js
**/public/workbox-*.js

# NestJS compilación
dist/
*.tsbuildinfo

# Prisma
.env
apps/api/prisma/*.db
apps/api/prisma/*.db-journal

# Logs y otros
*.log
.DS_Store
.vercel